<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="CancelApplicationMapper">
    <select id="selectAll" resultType="com.mju.insurance.entity.cancelApplication.CancelApplication">
        SELECT * FROM cancel_application
    </select>
</mapper>
